<div class='landingpage'>
<h1 style="font-family: 'Lobster', cursive; font-size: 60px;">HipCoupon</h1>
<p class='subtitle'>Reliable coupons and rebates for thousands of products. Coming soon.</p>
<br>
<h3>Blog:</h3>
	<ul>
		<% @articles.each do |article| %>
		<li><%= link_to article.title, article %></li>
		<% end %>
	</ul>
</div>
